{% extends "admin_layout.html" %} {% block content %}
<div class="content">
    <h1>You can Edit your Image here!!!!!!!</h1>
    <br>
    <hr>
    <br>


    <form action="{{ url_for('imgedit')}}" method="POST" enctype="multipart/form-data">
        <label for="formFile">Select a file:</label>
        <input class="form-control" name='file' type="file" id="formFile">
        <select name="selection">
            <option selected>Choose an operation:</option>
            <option value="cpng">Convert to png</option>
            <option value="cgray">Convert to GrayScale</option>
            <option value="cwebp">Convert to webp</option>
            <option value="cJpg">Convert to Jpg</option>
            <option value="cpdf">Convert to PDF</option>
            <option value="cdocx">Convert to Word</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
    <hr> {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message | safe }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}


</div>
{% endblock %}