{% extends "admin_layout.html" %} {% block content %} {% if msg %} {{ msg }} {% endif %}
<div class='content'>
    <div class="row g-8">

        <div class="col-sm-20 col-xl-20">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div style="background-color: black; color: rgb(52, 169, 199); ">
                        <h3 class="mb-0 " style="color:white;">Logistic Algorithm</h3>
                        <h6 style="color: rgb(52, 169, 199);">
                        </h6>
                        <img src='/static/img/knnimg2.webp' align="flex" width="50%">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <form method="POST" action="{{ url_for('logisticalgo') }}" enctype="multipart/form-data">
        <label for="formFile">Select a file:</label>
        <input class="form-control" name='file' type="file" id="formFile">
        <label for="data">Amount of data to test:</label>
        <input type="integer" name='data' class="form-control" id="data">

        <label for="target">Target Column (index starting from 0):</label>
        <input type="integer" name="target" class="form-control" id="target">
        <button type="submit" class="btn btn-primary">Check accuracy</button>
    </form>
</div>
{% endblock %}