<html>

<BODY ALIGN="CENTER" background="datacsience.jpg">
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="index.html" class="">
                            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>One Piece</h3>
                        </a>
                        <h1>LOGIN</h1>
                    </div>
                    <BR>

                    <HR>
                    <div class="form-floating mb-3">
                        <form method="POST" action="{{url_for('login')}}" enctype="multipart/form-data" ALIGN="CENTER">
                            <h2><label for="floatingInput">Email address</label></h2>
                            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">

                    </div>
                    <hr>
                    <h2><label for="floatingPassword">Password</label></h2>
                    <div class="form-floating mb-4">
                        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">

                    </div>

                    <h2><button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button></h2>
                    </form>

                </div>
            </div>
        </div>
    </div>
</BODY>

</html>